body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    margin: 0px;
}

.container {
    display: flex;
}

 /* Style for the row */
 .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0; /* Add negative margin to offset column padding */
}

/* Style for the column */
.col {
    flex: 1;
    padding: 1px; /* Add padding to separate columns */
    box-sizing: border-box; /* Include padding in column width */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
}

.column-left {

    flex: 1;
    order: 2;
    margin: 0px;
}

.column-right {
    display: flex;
    flex: 1;
    order: 3;
    padding: 0.5px;
    overflow-y: scroll;
    max-height: 100vh;
    overflow-y: scroll;
    max-height: 100vh;
}

img {
    max-width: 100%; /* Set the maximum width to fit the parent container */
    height: auto; /* Maintain the image's aspect ratio */
  }

.quang {
    background-color: #034429;
    margin: 0;
}

.div1_phongKham {
    background-color: #03326c;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 8px;
}

.thongTinBS {
    padding-left: 10px;
}

.chonBenhNhan {
    color: white;
    padding: 10px;
    text-align: center;
}

.div2_tomTatVD, .div3_thuocSD, .div4_danhSachCLS1, .div5_danhSachCLS2 {
    background-color: #3498DB;
    flex: 1;
    margin: 0;
    border: 1px;
    border-color: #1010d7;
    padding: 5px;
}

.div2_tomTatVD {
    background-color: #CE1F1A;
    color: white;
}

.div3_thuocSD {
    background-color: #F7ED2B;
}

.div4_danhSachCLS1 {
    background-color: #033692;
    color: white;
}

.div5_danhSachCLS2 {
    background-color: #029135;
    color: white;
}

.div6_ketQuaXN {
    background-color: #f3cdde;
    flex: 1;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

/* Define column widths for different screen sizes */
@media (min-width: 768px) {

    .column-right {
        flex: 0 0 63%;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

}
